.todo__list-item {
  width: 200px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.todo__list-item:hover {
  border-color: aqua;
}

.list__item-header {
  margin-bottom: 10px;
}

.list__item-icon {
  display: flex;
  margin: auto;
  width: 20px;
  height: 20px;
  padding: 2px;
}

.img-cover {
  margin: auto;
  background-color: gray;
  background-image: url("https://via.placeholder.com/140x140");
  width: 140px;
  height: 140px;
}

.list__item-row {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px 24px;
}
